LOG_LEVEL=info
LOG_FILE=app.log
AUTH_MAIL_USER =  ""
AUTH_MAIL_PSWD =  ""
MAIL_ADDRESSE  = ""
ULTRA_API_URL  = ""
ULTRA_API_INSTANCE = ""
ULTRA_API_TOKEN = ""
TRANSFER_PROVIDER = ""
#Database
DATABASE_HOST = "127.0.0.1"
DATABASE_USERNAME = ""
DATABASE_PASSWORD = ""
DATABASE_DB = ""